body {
  background: #f5f5fa;
  font-family: arial;
}

header {
  height: 40px;
  text-align: center;
  padding: 30px 0;
  background: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.025);
}

header h1 {
  color: #fc4c02;
  margin: 0;
}

.search-results-continer .search-segment-name {
  background: #fff;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
  border-radius: 4px;
  color: #000;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.search-results {
  background: #fff;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.search-results ul li {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #e6e6eb;
}

.search-results ul li:first-child {
  border-top: 0;
}

.search-results .weather-results {
  display: flex;
}
